*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

header{
    width: 100%;
    height: 50px;
    box-shadow: 1px 1px 5px #000;
    position: fixed;
    background-color: gainsboro;
  }
  
  #menu{
    width: 450px;
    padding-top: 15px;
    margin: auto;
    margin-left: 15cm;
  }
  
  #menu ul a{
    color: #000;
    text-decoration: none;
    font: bold 16px verdana;
    padding: 13px 20px 19px 20px;
  }
  
  #menu ul a:hover{
    color: gainsboro;
    background: #6e6e6e;
  }

body{
    background-image: url(./fondo2.jpg);
}

.form-register{
    width: 400px;
    background-image: url(./fondo1.jpg);
    padding: 40px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "calibri";
    color: white;
    box-shadow: 7px, 13px, 37px, #000;
    border-radius: 24px;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: "calibri";
    font-size: 18px;
}

.form-register p{
    height: 50px;
    text-align: center;
    font-size: 18px;

}

.form-register a{
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 14px;
    color: white;
    margin: 16px,0;
    font-size: 16p0x;
    border-radius: 24px;
}

.form-register .botons:hover {
    color: white;
    text-decoration:solid;
    background: #070707;
    border: 2px solid rgb(47, 7, 224);
    border-radius: 24px;
    cursor: pointer;
}

