*{
  padding: 0%;
  margin: 0%;
}

html{
  height: 100%;
  position: relative;
}

header{
  width: 100%;
  height: 50px;
  box-shadow: 1px 1px 5px #000;
  position: fixed;
  background-color: gainsboro;
}

#menu{
  width: 450px;
  padding-top: 15px;
  margin: auto;
}

#menu ul a{
  color: #000;
  text-decoration: none;
  font: bold 16px verdana;
  padding: 13px 20px 19px 20px;
}

#menu ul a:hover{
  color: gainsboro;
  background: #6e6e6e;
}

body{
  
  height: 100%;
  margin: 0;
  margin-bottom: 40px;
  background-image: url("/img/fondo2.jpg");
  background-size: 100%;

}

h1{
  color: rgb(5, 3, 19);
  padding-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#info1{
  padding-top: 10px;
  width: 700px;
  margin-left: 20px;
  height: 200px;
  overflow:auto;
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;

}

#churnrate{
  padding-left: 30px;
  width: 300px;
  height: 150px;
  float: right;
  
}

#titulogestion{
  color: rgb(9, 3, 29);
  padding-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  
}

#formulatxt{
  padding-left: 10px;
  color:rgb(6, 3, 22);
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#formula{
  width: 850px;
  height: 120px;
  background-color: hsla(209, 100%, 50%, 0.26);
  margin-left: 20px;

}

h2{
  color: rgb(145, 5, 5);
  padding-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.consejos{
  color: rgb(2, 3, 26);
  font: bold 20px;
  padding-left: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 20px;
  padding: 10px 10px 10 px 10 px;

}

#consejo1{
  margin-left: 3cm;
  font-style: italic;
  font-size: x-large;
  color: rgb(105, 8, 8);
}

.container{
  width: 300px;
  max-width: 400px;
  margin-left: 6cm;
  padding: 20px;
  border-radius: var(--border-radius);
  background: rgba(255, 255, 255, 0.021);
  margin: 0 auto;
}

.form_title{
  color: rgb(4, 4, 32);
  margin-bottom: 2rem;
  text-align: center;
}

.form--hidden{
  display: none;
}

.form > *:first-child{
  margin-top: 0;
}

.form_input-group{
  margin-bottom: 1rem;
}

.form_input{
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #221e1e;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form-input :focus{
  border-color: var(--color-primary);
  background: #09041f;
}

.form_button{
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #07021af3;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
  box-shadow: #221e1e 1px 1px 1px 1px;
  
}

.form_button :active{
  transform: scale(0.98);
}

.padding{
  padding-bottom: 10px;
}

.pie{
  height: 4rem;
  background-color: gainsboro;
  bottom: 0;
  width: 100%;
  height: 50px;
  position: absolute;
  font: bold 16px verdana;
  padding-left: 20px;
  padding-top: 10px;

}

.misioninfo{
  margin-left: 12px;
  margin-top: 12px;
  font-family: sans-serif;
  width: 25cm;
  text-align: justify;
  font-weight: bold;
}

#cobrando1{
 margin-left: 3cm;
}

#procesos4{
  margin-left: 3cm;
  padding-top: 10px;

}
